html,body{
  font-family: "Microseoft YaHei";
  color:#333;
  background-color: #fff;
  margin: 0px;
  padding: 0px;
}
*{
  box-sizing: border-box;
  touch-action: pan-y;
}
html,body,#root,.App{
  height: 100%;
}